[*]

[*.{java,kt,xml}]
charset=utf-8
end_of_line=crlf
insert_final_newline=true
trim_trailing_whitespace=true
indent_style=space

[*.{java,kt}]
max_line_length=100
spaces_around_operators=true
indent_size=2
continuation_indent_size=4
indent_brace_style=K&R

[*.xml]
indent_size=4
max_line_length=120
