<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reddit.indicatorfastscroll"
    >

  <application android:theme="@style/Theme.Test">

    <activity android:name="com.reddit.indicatorfastscroll.TestActivity" />

  </application>

</manifest>
